<script type="text/javascript" src="../assets/js/turn.js"></script>

<router-outlet></router-outlet>

<style type="text/css">
  html{
    font: normal 15px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  body{
    background:#222222;
    overflow: hidden;
  }
  #magazine{
    margin: 1.5rem auto;
    /* width:1152px;
    height:752px; */
    width:1094.4px;
    height:714.4px;
  }
  
  #magazine .turn-page{
    background-color:#ccc;
    background-size:100% 100%;
    transition:margin-left 0.2s ease;
  }
  
  .top-bar {
    background: #333;
    color: #fff;
    padding: .7rem;
    text-align: center;
    width: 98%;
    margin: 0 auto;
    background-color: rgba(3, 0, 0, 0.1);
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  }
  
  .btn {
    /* background: #ffc600; */
    background-color: grey;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 2px;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .page-info {
    margin-left: 1rem;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 1rem;
  }

  .hard{
    background-color: black;
  }

  #wrapper{
    width: 100%;
    height: 100%;  
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition:margin-left 0.2s ease-in-out;
  -moz-transition:margin-left 0.2s ease-in-out;
  -o-transition:margin-left 0.2s ease-in-out;
  -ms-transition:margin-left 0.2s ease-in-out;
  transition:margin-left 0.2s ease-in-out;
  background-color: black;
}
  </style>
  <div class="container">
    <div id="wrapper">
      <div id="magazine">
        <div class="hard" (click)="goRight()">CAPA</div>
        <div class="hard"></div> -->
        <div ><img src="./assets/pages/01.jpg" alt="" (click)="goRight()"></div>
        <div><img src="./assets/pages/02.jpg" alt=""></div>
        <div><img src="./assets/pages/03.jpg" alt=""></div>
        <div><img src="./assets/pages/04.jpg" alt=""></div>
        <div><img src="./assets/pages/05.jpg" alt=""></div>
        <div><img src="./assets/pages/06.jpg" alt=""></div>
        <div class="hard"></div>
        <div class="hard"></div>
      </div>
    </div>
  </div>

  
